<main class="container">
  <mat-card class="form-card">
    <mat-card-header>
      <mat-card-title>Create a Game</mat-card-title>
      <mat-card-subtitle
        >Fill in the game details and submit the form to create a new
        game</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="createGameForm" class="create-game-form">
        <mat-form-field appearance="outline">
          <mat-label>Home Team Name</mat-label>
          <input matInput formControlName="homeTeamName" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Away Team Name</mat-label>
          <input matInput formControlName="awayTeamName" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Game Status</mat-label>
          <mat-select formControlName="gameStatus" required>
            @for (status of gameStatusOptions; track status) {
            <mat-option [value]="status.value">{{
              status.displayText
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Total Strikes</mat-label>
          <input matInput formControlName="strikesAllowed" required />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>State Date</mat-label>
          <input
            matInput
            [matDatepicker]="datePicker"
            formControlName="startDate"
            required
          />
          <mat-hint>DD-MMM-YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="datePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker touchUi #datePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Start Time</mat-label>
          <!-- <ngx-material-timepicker-toggle
            [for]="timePicker"
          ></ngx-material-timepicker-toggle> -->
          <ngx-material-timepicker
            #timePicker
            timepickerClass="time-picker"
          ></ngx-material-timepicker>
          <input
            matInput
            aria-label="Start Time"
            [ngxTimepicker]="timePicker"
            readonly
            formControlName="startTime"
            required
          />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-fab
        extended
        color="primary"
        class="submit-button"
        (click)="onSubmit()"
        [disabled]="isRequestPending || !createGameForm.valid"
      >
        <mat-icon>check</mat-icon>
        Submit
      </button>
    </mat-card-actions>
  </mat-card>
</main>
