<div class="container gradient-bg-color">
  @if (activeSoftballGame$ | async; as game) {
  <mat-card
    id="score-board"
    class="mat-mdc-elevation-specific mat-elevation-z8"
  >
    <span class="home-name">{{ game.homeTeamName.toUpperCase() }}</span>
    <app-score-block
      class="home-score"
      [score]="game.innings[game.innings.length - 1].homeTeamScore"
    />
    <span class="innings-text">INNING</span>
    <app-score-block class="innings" [score]="game.innings.length" />
    <span class="away-name">{{ game.awayTeamName.toUpperCase() }}</span>
    <app-score-block
      class="away-score"
      [score]="game.innings[game.innings.length - 1].awayTeamScore"
    />
    <mat-divider class="divider"></mat-divider>
    <span class="balls-text">BALLS</span>
    <app-score-block class="balls" [score]="game.balls" />
    <span class="strikes-text">STRIKES</span>
    <app-score-block class="strikes" [score]="game.strikes" />
    <span class="outs-text">OUTS</span>
    <app-score-block class="outs" [score]="game.outs" />
  </mat-card>
  }
</div>
