<div class="container">
  <div class="bg-image"></div>
  @if (activeSoftballGame$ | async; as game) {
  <div class="team-cards-container">
    <app-team-score-card
      [teamName]="game.homeTeamName"
      teamType="home"
      [score]="game.innings[game.innings.length - 1].homeTeamScore"
    ></app-team-score-card>
    <div class="versus">VS</div>
    <app-team-score-card
      [teamName]="game.awayTeamName"
      teamType="away"
      [score]="game.innings[game.innings.length - 1].awayTeamScore"
    ></app-team-score-card>
  </div>

  <app-game-stats-block
    [balls]="game.balls"
    [strikes]="game.strikes"
    [outs]="game.outs"
    [inning]="game.inning"
  ></app-game-stats-block>
  }
</div>
