<mat-list>
  <div mat-subheader class="header">{{ title }}</div>
  @for (game of softballGames; track game.homeTeamName + game.awayTeamName) {
  <a
    mat-list-item
    [routerLink]="getRouterLink(game)"
    class="list-item mat-elevation-z8"
  >
    <img matListItemIcon src="/assets/images/softball-icon.png" class="icon" />
    <div matListItemTitle>
      {{ game.homeTeamName }} vs {{ game.awayTeamName }}
    </div>
    @if (isManageable) {
    <div class="action-button-container">
      <button
        mat-mini-fab
        (click)="
          deleteGame.emit(game);
          $event.stopPropagation();
          $event.preventDefault()
        "
        aria-label="Delete game"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    }
  </a>
  } @empty {
  <ngx-skeleton-loader
    count="3"
    appearance="line"
    [theme]="{
      'border-radius': '4px',
      height: '50px',
    }"
  ></ngx-skeleton-loader>
  }
</mat-list>
