.bottom-stats-container {
  position: relative;
  justify-content: space-evenly;
  z-index: 2;
  height: fit-content;
}

.bso-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}
