<main class="main gradient-bg-color">
  <h1 class="header">{{ title }}</h1>
  <div class="content-container">
    <mat-card class="mat-mdc-elevation-specific mat-elevation-z8 card">
      <mat-card-content class="content">
        <mat-card-title>
          {{ listTitle }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ listSubTitle }}
        </mat-card-subtitle>
        <a mat-fab extended class="to-all-games-btn" routerLink="active-games">
          GO
          <mat-icon>arrow_forward</mat-icon>
        </a>
      </mat-card-content>
    </mat-card>
  </div>
</main>
